{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}

    <!-- Page Header Start -->
    <div class="container-fluid bg-dark p-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 text-white">{{name|urldecode}}</h1>
                <a href="">Home</a>
                <i class="far fa-square text-primary px-2"></i>
                <a href="">{{name|urldecode}}</a>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Blog Start -->
    <div class="container-fluid py-6 px-5">
        <div class="row g-5">
            <div class="col-lg-8">
                <!-- Blog Detail Start -->
                <div class="mb-5 ml-10">
                {% with decoded_name=name|urldecode %}
                    {% if decoded_name == "Unsecured Business Loan" %}

                    <img class="img-fluid w-100 mb-5" src="{% static 'home/img/blog-1.jpg' %}" alt="">
                    <h1 class="mb-4">{{decoded_name}}</h1><br>
                    <p>It is a collateral free financing without any mortgages and security.</p>
                    <p><b>Features & Benefits: </b><br>

                        <ul>
                            <li>Loan upto Rs.50L</li>
                            <li>Low Interest Rate</li>
                            <li>Tenure upto 60 months</li>
                            <li>Simple Process</li>
                            <li>Quick approvals</li>
                        </ul>
                         
                        
                        <br><b>Who is eligible for the Business Instalment Loan?</b><br><br>
                        
                        <ul>
                            <li>Sole proprietors / proprietorship firms</li>
                            <li>Partnership firms</li>
                            <li>Private limited companies</li>
                            <li>Closely-held and public-limited companies</li>
                            <li>Professionals – doctors, architects, chartered accountants, business consultants</li>
                        </ul>
                    </p>
                    
                    {% endif %}

                    {% if decoded_name == "Working Capital" %}
                    
                    <img class="img-fluid w-100 mb-5" src="{% static 'home/img/blog-1.jpg' %}" alt="">
                    <h1 class="mb-4">{{decoded_name}}</h1>
                    <p>Avail secured overdraft/cash credit facilities, any termloan with adequate collateral of Residential/Commercial property.</p>
                    <p>Avail unsecured credit facilities upto 1 Crore under CGTMSE program.</p>
                    <p><b>Features & Benefits: </b><br>

                        <ul>
                            <li>Minimum turnover of Rs.7Cr</li>
                            <li>Best Interest Rate</li>
                            <li>100% funding of property value</li>
                        </ul>
                         
                        
                        <br><b>Who is eligible for the Business Instalment Loan?</b><br><br>
                        
                        <ul>
                            <li>Sole proprietors / proprietorship firms</li>
                            <li>Partnership firms</li>
                            <li>Private limited companies</li>
                            <li>Closely-held and public-limited companies</li>
                            <li>Professionals – doctors, architects, chartered accountants, business consultants</li>
                        </ul>
                    </p>

                    {% endif %}

                    {% if decoded_name == "Personel Loan" %}
                    
                    <img class="img-fluid w-100 mb-5" src="{% static 'home/img/blog-1.jpg' %}" alt="">
                    <h1 class="mb-4">{{decoded_name}}</h1>
                    <p>Best Personal loan offer suitable for your needs from 10 plus vendors</p>
                    <p><b>Features & Benefits: </b><br>

                        <ul>
                            <li>Loan upto Rs.10L</li>
                            <li>Low Interest Rate</li>
                            <li>Tenure upto 60 months</li>
                            <li>Simple Process</li>
                            <li>Quick approvals</li>
                        </ul>
                         
                        
                        <br><b>Who is eligible for the Business Instalment Loan?</b><br><br>
                        
                        <ul>
                            <li>Sole proprietors / proprietorship firms</li>
                            <li>Partnership firms</li>
                            <li>Private limited companies</li>
                            <li>Closely-held and public-limited companies</li>
                            <li>Professionals – doctors, architects, chartered accountants, business consultants</li>
                        </ul>
                    </p>

                    {% endif %}

                    {% if decoded_name == "Auto Loan" %}
                    
                    <img class="img-fluid w-100 mb-5" src="{% static 'home/img/blog-1.jpg' %}" alt="">
                    <h1 class="mb-4">{{decoded_name}}</h1>
                    <p><b>New Car Loan </b><br>

                        <ul>
                            <li>Upto 100% Financing</li>
                            <li>Instant Approval</li>
                            <li>Hassle Free Loan Processing</li>
                            <li>Easy Documentation</li>
                            <li>Fixed interest rates</li>
                            <li>No Income Document Scheme</li>
                            <li>Flexible tenure of up to 7 years</li>
                        </ul>
                        <br>

                        <b>Used Car Loan </b><br><br>

                        <ul>
                            <li>Borrow up to 100% of the original loan value of the car.</li>
                            <li>Valuation of the car is not mandatory.</li>
                            <li>A Wide range of approved models/variants and manufacturers are considered.</li>
                            <li>We make quick and hassle-free disbursals.</li>
                        </ul>

                        <br>
                        <b>CAR Refinancing</b><br><br>

                        When you refinance an auto loan, you take out a new loan to pay off the original note, and the vehicle as collateral secures it. That new loan, often with a new lender, comes with different terms and borrowers typically seek to refinance their car to get better terms for their situation. Exactly how these terms are different may vary according to the aims and circumstances of the individual, but let’s look at some common scenarios. 
                        <br><b>Reduced monthly car payments </b>– A refinanced auto loan might lower your monthly car payment as a result of a lower interest rate or a longer loan term, or both of these. 
                        <br><b>A lower interest rate</b> – If you qualify for a lower interest rate than that of your existing loan, then you may end up paying less in total interest when the loan amount has been paid off. This might occur when the duration of the loan is not extended, or extended very much. 
                        <br><b>Longer loan term</b> – How might changing the length of the loan affect things? If the loan term is lengthened, and there’s a greater amount of time to pay back the loan amount, the monthly payments may be smaller. This situation may result in the borrower paying more for the car in total when interest charges are taken into account. 
                        <br><b>Shorter loan term</b> – When the life of the loan is shorter, it might increase the monthly payment, but possibly reduce the amount of total interest paid and what the borrower ends up paying for the car in total.
                    </p>
                    

                    {% endif %}

                    {% if decoded_name == "Home Loan" %}
                    
                    <img class="img-fluid w-100 mb-5" src="{% static 'home/img/blog-1.jpg' %}" alt="">
                    <h1 class="mb-4">{{decoded_name}}</h1>
                    <p>Sadipscing labore amet rebum est et justo gubergren. Et eirmod ipsum sit diam ut
                        magna lorem. Nonumy vero labore lorem sanctus rebum et lorem magna kasd, stet
                        amet magna accusam consetetur eirmod. Kasd accusam sit ipsum sadipscing et at at
                        sanctus et. Ipsum sit gubergren dolores et, consetetur justo invidunt at et
                        aliquyam ut et vero clita. Diam sea sea no sed dolores diam nonumy, gubergren
                        sit stet no diam kasd vero.</p>
                    <p>Voluptua est takimata stet invidunt sed rebum nonumy stet, clita aliquyam dolores
                        vero stet consetetur elitr takimata rebum sanctus. Sit sed accusam stet sit
                        nonumy kasd diam dolores, sanctus lorem kasd duo dolor dolor vero sit et. Labore
                        ipsum duo sanctus amet eos et. Consetetur no sed et aliquyam ipsum justo et,
                        clita lorem sit vero amet amet est dolor elitr, stet et no diam sit. Dolor erat
                        justo dolore sit invidunt.</p>
                    <p>Diam dolor est labore duo invidunt ipsum clita et, sed et lorem voluptua tempor
                        invidunt at est sanctus sanctus. Clita dolores sit kasd diam takimata justo diam
                        lorem sed. Magna amet sed rebum eos. Clita no magna no dolor erat diam tempor
                        rebum consetetur, sanctus labore sed nonumy diam lorem amet eirmod. No at tempor
                        sea diam kasd, takimata ea nonumy elitr sadipscing gubergren erat. Gubergren at
                        lorem invidunt sadipscing rebum sit amet ut ut, voluptua diam dolores at
                        sadipscing stet. Clita dolor amet dolor ipsum vero ea ea eos.</p>

                    {% endif %}

                    {% if decoded_name == "Mortgage Loan" %}
                    
                    <img class="img-fluid w-100 mb-5" src="{% static 'home/img/blog-1.jpg' %}" alt="">
                    <h1 class="mb-4">{{decoded_name}}</h1>
                    <p><b>Features: </b><br>
                        <ul>
                            <li>Collateral: Residential commercial and industrial property</li>
                            <li>Tenure: Up to 15 years</li>
                            <li>Maximum loan amount: Up to Rs 75 crore</li>
                            <li>Attractive loan against property interest rates</li>
                            <li>No pre-payment charges upto a maximum of 25% of your outstanding loan, once every financial year</li>
                            <li>Loan amount: Up to 60% of property value in case of commercial property, up to 100% in case of residential property</li>
                        </ul>
                    </p>
                    <p><b>Loan Purpose</b><br>
                        <ul>
                            <li>Business Expansion</li>  
                            <li>Education/Marriage expenses</li>  
                            <li>Purchase of house</li>  
                            <li>Improvement/Extension of existing Property </li> 
                            <li>Medical Treatment</li>  
                            <li>Any other personal Need.</li>
                        </ul>
                    </p>
                    <br>
                    <p><b>Loan Against Residential Property</b><br>
                        <ul>
                            <li>Loans can be availed by Salaried, Self Employed Professionals and Self Employed Non-Professionals</li>
                                <li>Purpose – For meeting personal needs like, acquiring asset, education needs, marriage, personal travel, etc against the mortgage of residential property/ plot acceptable to us</li>
                                <li>Min and Max Loan Size – Avail loan from ` 15 Lacs up to ` 100 Crore</li>
                                <li>Tenure – Loan tenure of upto 15 years</li>
                                <li>Balance Transfer your existing loans with an additional loan amount</li>
                                <li>Maximum Loan Amount</li>
                                <li>Door Step Service</li>
                                <li>Realise your dreams faster</li>
                                <li>Easy Documentation</li>
                        </ul>
                       
                        Eligibility:<br><br>
                        <ol>
                            <li>Property Value </li>  
                            <li>Repayment Capacity </li>  
                            <li>Assets</li>   
                            <li>Liabilities</li>   
                            <li>Age</li>   
                            <li>Legal & Technical Clearance of Property Title</li>
                        </ol>

                    </p>
                    <br>
                    <p><b>Loan Against Commercial Property</b><br>
                        <ul>
                            <li>Loans can be availed by Salaried, Self Employed Professionals and Self Employed Non-Professionals</li>
                            <li>Purpose – For meeting personal or business needs like, acquiring asset, education needs, marriage, personal travel etc against the mortgage of their commercial property/ plot acceptable to us</li>
                            <li>Min and Max Loan Size - Avail loan from 15 Lacs up to ` 10 crore</li>
                            <li>Tenure - Loan tenure of upto 15 years</li>
                            <li>Balance Transfer your existing loans with an additional loan amount</li>
                            <li>Maximum Loan Amount</li>
                            <li>Door Step Service</li>
                            <li>Realise your dreams faster</li>
                            <li>Easy Documentation</li>
                        </ul>
                       
                        Eligibility:<br><br>
                        <ol>
                            <li>Property Value </li>  
                            <li>Repayment Capacity </li>  
                            <li>Assets</li>   
                            <li>Liabilities</li>   
                            <li>Age</li>   
                            <li>Legal & Technical Clearance of Property Title</li>
                        </ol>

                    </p>

                    {% endif %}
                
                {% endwith %}
                </div>
                <!-- Blog Detail End -->

            </div>

            <!-- Sidebar Start -->
            <div class="col-lg-4">

                <!-- Category Start -->
                <div class="mb-5">
                    <h2 class="mb-4">Categories</h2>
                    <div class="d-flex flex-column justify-content-start bg-secondary p-4">
                        <a class="h5 mb-3" href="{% url 'home:detail' name='Unsecured Business Loan' %}"><i class="bi bi-arrow-right text-primary me-2"></i>Unsecured Business Loan</a>
                        <a class="h5 mb-3" href="{% url 'home:detail' name='Working Capital' %}"><i class="bi bi-arrow-right text-primary me-2"></i>Working Capital</a>
                        <a class="h5 mb-3" href="{% url 'home:detail' name='Personel Loan' %}"><i class="bi bi-arrow-right text-primary me-2"></i>Personel Loan</a>
                        <a class="h5 mb-3" href="{% url 'home:detail' name='Auto Loan' %}"><i class="bi bi-arrow-right text-primary me-2"></i>Auto Loan</a>
                        <a class="h5 mb-3" href="{% url 'home:detail' name='Home Loan' %}"><i class="bi bi-arrow-right text-primary me-2"></i>Home Loan</a>
                        <a class="h5" href="{% url 'home:detail' name='Mortgage Loan' %}"><i class="bi bi-arrow-right text-primary me-2"></i>Mortgage Loan</a>
                    </div>
                </div>
                <!-- Category End -->

                <!-- Tags Start -->
                <!-- <div class="mb-5">
                    <h2 class="mb-4">Tag Cloud</h2>
                    <div class="d-flex flex-wrap m-n1">
                        <a href="" class="btn btn-secondary m-1">Design</a>
                        <a href="" class="btn btn-secondary m-1">Development</a>
                        <a href="" class="btn btn-secondary m-1">Marketing</a>
                        <a href="" class="btn btn-secondary m-1">SEO</a>
                        <a href="" class="btn btn-secondary m-1">Writing</a>
                        <a href="" class="btn btn-secondary m-1">Consulting</a>
                    </div>
                </div> -->
                <!-- Tags End -->
            </div>
            <!-- Sidebar End -->
        </div>
    </div>
    <!-- Blog End -->

{% endblock content %}